.bgroundimg{
    background-image: url(https://images.hdqwalls.com/wallpapers/blue-sky-full-of-stars-5k-u2.jpg)
    
}

.colortxt{
    color: white;
}
.navopcc{
    background-color: black;
    opacity: 0.90;
}
.textp1{
    color: #c9aac8;
}
.textp2{
    color:#03EBFF;
}